Support for BMP LOC-RIB per RFC 9069

Hello!

Does goBMP support the following capabilities that are required to successfully ingest BMP LOC-RIB Route monitoring messages?


**1) VRF Name TLV ([RFC9069 §5.2.1](https://datatracker.ietf.org/doc/html/rfc9069#section-5.2.1))**

Support parsing of VRF name TLV in BMP Peer Up messages. While RD+BGP-ID can be used for VRF mapping, the VRF Name TLV simplifies collector operation and enables human-friendly VRF association.

**2) Multi-VRF Route Handling**
Ensure that routes received from different VRFs (default, VRF1, etc.) are maintained distinctly and exported as such to downstream systems. We’d like to avoid cross-VRF deduplication. For example: When prefix 1 is received from default VRF and VRF1, two instances of prefix1 must be maintained (one per VRF) and exported as such to a downstream consumer.

**3) ECMP Awareness via [add-path (RFC7911](https://datatracker.ietf.org/doc/html/rfc7911))**
Support for collecting multiple paths for a single prefix via add-path. This is required to fully reflect LOC-RIB ECMP information on platforms that support it.

4) Support for [Peer-type 3 ](https://datatracker.ietf.org/doc/html/rfc9069#section-4.1)to ingest LOC-RIB messages. 



@jdhandap  please try this image docker.io/sbezverk/gobmp:loc_rib, I have added support for Loc-RIB and made sure your 4 points are addressed. Once I have your confirmation I will merge changes into master branch.

Ah, sorry. I didn't use the right path. I was able to pull the image. Thank you 